@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    background-color: black;
    width: 100%;
    height: 200px;
    margin-bottom: 30px;
}

.img {
    width: 250px;
    height: 150px;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(../images/bazlumon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    transition: 0.3s;
}

.img:hover {
    width: 255px;
    height: 155px;
    cursor: pointer;
}

body {
    background: radial-gradient(circle, white, rgb(184, 184, 184));
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.bloco {
    display: inline-block;
    width: 400px;
    height: 500px;
    margin: 20px;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 3px 7px 10px rgba(0, 0, 0, 0.356);
}


div#bloco1 {
    background-image: url(../images/boxblue.jpg);
}

div#bloco2 {
    background: radial-gradient(circle, rgb(252, 68, 68), rgb(116, 0, 0));
    position: relative;
}

div#bloco3 {
    background-image: url(../images/boxrosa.jpg);
}

a {
    padding: 20px;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    text-decoration: none;
}

article > p {
    font-weight: lighter;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

article > h2 {
    font-weight: normal;
    text-align: center;
}	

h3 {
    margin-top: 450px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 10px;
}


div#img2 {
    background-image: url(../images/Bazinga\ MAX\ PNG\ 2023.png);
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
}

div#img2:hover {
    background-image: url(../images/bazingateste.png);
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}


div.imgblock {
    position: absolute;
    width: 350px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.3s;
}

div.imgblock:hover {
    width: 360px;
    height: 310px;
}

section.sec1 {
    background: radial-gradient(circle, rgb(8, 8, 8), rgb(0, 0, 0));
    width: 100%;
    height: 500px;
    position: relative;
}

div#dir {
    position: absolute;
    top: 50%;
    left: 50.8%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    background-image: url(../images/d1.png);
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.5s;
}

div#dir:hover {
    width: 255px;
    height: 255px;
    cursor: pointer;
}

article#dark > p {
    margin-top: 50px;
}

p#art {
    font-family: 'Times New Roman', Times, serif;
    text-indent: 10px;
    font-style: italic;
    display: inline-block;
    margin-left: 50px;
    color: white;
    padding: 50px;
    width: 400px;
    text-align: left;
}

p#art2 {
    font-family: 'Times New Roman', Times, serif;
    text-indent: 10px;
    font-style: italic;
    display: inline-block;
    margin-left: 800px;
    color: white;
    padding: 50px;
    width: 400px;
    text-align: right;
}

footer {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    padding: 15px;
}

